.aboutPoster {
  background-image: url("../../../public/aboutBg.jpg");
  background-size: cover;
  min-height: 40dvh;
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.aboutPoster > * {
  backdrop-filter: blur(5px);
  padding: 1rem;
}

.aboutPoster > h3 {
  font-size: 1.5em;
}

.aboutPoster > h2 {
  font-size: 2em;
}

.cardContainer {
  display: grid;
  gap: 1rem;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fill,  max(18rem, 23dvw));
  grid-template-rows: 1fr;
  min-height: 40dvh;
}

.cardContainer > * {
  margin-block: 2rem;
}