nav, nav * {
    font-size: 1.2rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    padding: 1em;
}

nav > *:first-child {
    font-size: 1.5em;
}

nav > ul {
    display:  flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

nav > ul > li {
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 0.2em;
}

nav > ul > li > a:hover {
    background-color: gray;
    color: white;
}